#results {
    max-height: 1080px;
    overflow: auto;
}

.student-registration {
    margin-right: 20px;
}

.coach-registration {
    margin-left: 20px;
}

.profile-card {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    padding: 10px;
    margin: 10px 0;
}

h1, h2, h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800; /* Bold weight */
}

body {
    background-color: #efefef;
    font-family: Arial, Helvetica, sans-serif
}

div {
    padding: 5px;
}

nav {
    background-color: rgb(4, 101, 27);
}

.navbar-brand {
    font-family: Arial, Helvetica, sans-serif
    font-weight: 800;
    font-size: 24px;
    color: #ffffff;
}

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    color: #ffffff;
    background-color: transparent;
    border: var(--bs-border-width) solid #ffffff(--bs-navbar-toggler-border-color);
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler-icon {
    filter: invert(100%)
}

.nav-link {
    color: #ffffff;
}