{% extends 'base.html' %}

{% block title %} Coach Profile {% endblock %}

{% block body %}
<div id="coach-profile">
    <h1>Coach Profile</h1>
    <p>Name:  {{ coach.fname }} {{ coach.lname }}</p>
    <p>School:  {{ coach.school.school_name }}</p>
    <p>Sport:  {{ coach.sport.sport_name }}</p>
    <p>Bio:  {{ coach.bio }}</p>
</div>

<form action="/search">
    <input type="submit" value="Search Students">
</form>

<form action="/logout", method="POST">
    <input type="submit" value="Log Out">
</form>
{% endblock %}