{% extends 'base.html' %}

{% block title %} Finish Registration {% endblock %}

{% block body %}
<h1>Finish creating your profile!</h1>

<form action="/complete-student-profile" method="POST">
    <div>
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname">
    </div>
    <div>
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname">
    </div>
    <label for="gender">Gender</label>
    <div id="gender">
        <input type="radio" name="gender" value="male" id="male">
        <label for="male">Male</label>

        <input type="radio" name="gender" value="female" id="female">
        <label for="female">Female</label>
    </div>
    <div>
        <label for="height">Height in inches:</label>
        <input type="text" id="height" name="height">
    </div>
    <div>
        <label for="weight">Weight in pounds:</label>
        <input type="text" id="weight" name="weight">
    </div>
    <div><!--dropdown menu-->
        <label for="sport">Sport:</label>
        <input type="text" id="sport" name="sport">
    </div>
    <div><!--dropdown menu-->
        <label for="position">Position:</label>
        <input type="text" id="position" name="position">
    </div>
    <div><!--dropdown menu label box 'location'-->
        <label for="city">City:</label>
        <input type="text" id="" name="city">
    </div>
    <div>
        <label for="state">State:</label>
        <input type="text" id="" name="state">
    </div>
    <div>
        <label for="bio">Bio:</label>
        <input type="text" id="bio" name="bio">
    </div>
    <div>
        <input type="submit">
    </div>
</form>
{% endblock %}