{% extends 'base.html' %}

{% block title %} Finish Registration {% endblock %}

{% block body %}
<div class="row justify-content-center" id="finish-coach-profile">
    <div class="card col-6">
        <div class="card-body">
            <form action="/complete-coach-profile" method="POST">
                <h1 class="text-center">Finish creating your profile!</h1>
                <div>
                    <label for="fname">First Name:</label>
                    <input type="text" id="fname" name="fname" class="form-control">
                </div>
                <div>
                    <label for="lname">Last Name:</label>
                    <input type="text" id="lname" name="lname" class="form-control">
                </div>
                <div>
                    <label for="bio">Bio:</label>
                    <input type="text" id="bio" name="bio" class="form-control">
                </div>
                <label for="school">School:</label>
                <div id="school">
                    <select name="school" id="school">
                        <option value="1">UC Berkeley</option>
                    </select>
                </div>
                <label for="sport">Sport:</label>
                <div id="sport">
                    <select name="sport" id="sport">
                        <option value="basketball">Basketball</option>
                    </select>
                </div>
                <div>
                    <input type="submit" value="Create Profile">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}