{% extends 'base.html' %}

{% block title %} Finish Registration {% endblock %}

{% block body %}
<h1>Finish creating your profile!</h1>

<form action="/complete-coach-profile" method="POST">
    <div>
        <label for=""></label>
        <input type="text" id="" name="">
    </div>
    <div>
        <label for=""></label>
        <input type="text" id="" name="">
    </div>
    <div>
        <label for=""></label>
        <input type="text" id="" name="">
    </div>
    <div>
        <label for=""></label>
        <input type="text" id="" name="">
    </div>
    <div>
        <label for=""></label>
        <input type="text" id="" name="">
    </div>
    <div>
        <input type="submit">
    </div>
</form>
{% endblock %}