{% extends 'base.html' %}

{% block title %} Finish Registration {% endblock %}

{% block body %}
<h1>Finish creating your profile!</h1>

<form action="/complete-student-profile" method="POST">
    <div>
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname">
    </div>
    <div>
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname">
    </div>
    <label for="gender">Gender</label>
    <div id="gender">
        <input type="radio" name="gender" value="male" id="male">
        <label for="male">Male</label>

        <input type="radio" name="gender" value="female" id="female">
        <label for="female">Female</label>
    </div>
    <div>
        <label for="height">Height in inches:</label>
        <input type="text" id="height" name="height">
    </div>
    <div>
        <label for="weight">Weight in pounds:</label>
        <input type="text" id="weight" name="weight">
    </div>
    <label for="sport">Sport:</label>
    <div id="sport"><!--dropdown menu-->
        <select name="sport" id="sport">
            <option value="basketball">Basketball</option>
        </select>
    </div>
    <label for="position">Position:</label>
    <div id="position"><!--dropdown menu-->
        <select name="position" id="position">
            <option value="1">Point Guard</option>
        </select>
    </div>
    <label for="location">Location:</label>
    <div id="location"><!--dropdown menu label box 'location'-->
        <select name="location" id="location">
            <option value="1">Oakland, California</option>
            <option value="2">Berkeley, California</option>
        </select>
    </div>
    <div>
        <label for="bio">Bio:</label>
        <input type="text" id="bio" name="bio">
    </div>
    <div>
        <input type="submit">
    </div>
</form>
{% endblock %}