{% extends 'base.html' %}

{% block title %} Finish Registration {% endblock %}

{% block body %}
<h1>Finish creating your profile!</h1>

<form action="/complete-coach-profile" method="POST">
    <div>
        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname">
    </div>
    <div>
        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname">
    </div>
    <label for="school">School:</label>
    <div id="school">
        <select name="school" id="school">
            <option value="1">UC Berkeley</option>
        </select>
    </div>
    <label for="sport">Sport:</label>
    <div id="sport">
        <select name="sport" id="sport">
            <option value="basketball">Basketball</option>
        </select>
    </div>
    <div>
        <label for="bio">Bio</label>
        <input type="text" id="bio" name="bio">
    </div>
    <div>
        <input type="submit">
    </div>
</form>
{% endblock %}