{% extends 'base.html' %}

{% block title %} Team Up Home {% endblock %}

{% block body %}
<h1>Team up with your dream team!</h1>

<h2>Login</h2>
<form action="/login" method="POST">
    <p>
        Email <input type="text" name="email">
    </p>

    <p>
        Password <input type="text" name="password">
    </p>

    <!--TODO: add radio buttons to choose the type of user logging in-->

    <p>
        <input type="submit">
    </p>
</form>

<h2>Create an Account</h2>

<h3>Are you a student?</h3>
<form action="/register/student" method="POST">
    <p>
        Email <input type="text" name="email">
    </p>

    <p>
        Password <input type="text" name="password">
    </p>

    <p>
        <input type="submit">
    </p>
</form>

<h3>Are you a coach?</h3>
<form action="/register/coach" method="POST">
    <p>
        Email <input type="text" name="email">
    </p>

    <p>
        Password <input type="text" name="password">
    </p>

    <p>
        <input type="submit">
    </p>
</form>

{% endblock %}