{% extends 'base.html' %}

{% block title %} Search Coaches {% endblock %}

{% block body %}
<!--
<section class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-8 text-center">
        <p class="lead">
          Content that doesn't go into the columns (like a navbar) can go up
          here.
        </p>
      </div>
    </div>
</section>
-->
    <div class="row">
        <aside class="col-4 h-100 d-flex flex-column justify-content-center">
            <div class="container my-4 text-center">
                <div class="card">
                    <div class="card-body">
                        <form action="/search/results/coaches" method="POST" id="search-coaches">
                            <h2>Search Coaches</h2>
                            <label for="fname">First Name:</label>
                            <div id="fname">
                                <select name="fname" id="fname">
                                    <option value="Mark">Mark</option>
                                </select>
                            </div>
                            <label for="lname">Last Name:</label>
                            <div id="lname">
                                <select name="lname" id="lname">
                                    <option value="Fox">Fox</option>
                                </select>
                            </div>
                            <label for="school">School:</label>
                            <div id="school">
                                <select name="school" id="school">
                                    <option value="1">UC Berkeley</option>
                                </select>
                            </div>
                            <label for="sport">Sport:</label>
                            <div id="sport">
                                <select name="sport" id="sport">
                                    <option value="basketball">Basketball</option>
                                </select>
                            </div>

                            <!--do ajax request here(post request)
                                send the form data. gets teh form data repackaged, then fix the queries to the db)-->
                            <button type="submit" id="search-btn">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </aside>
        <main class="col h-100 overflow-auto" id="results">
            <!--Add a container to display search results-->
            <div id="results-container"></div>
        </main>
    </div>


<script src="static/studentSearchResults.js"></script>
{% endblock %}